[submodule ".modules/bento"]
	path = .modules/bento
	url = https://github.com/chef/bento.git
	branch = master
[submodule ".modules/windows"]
	path = .modules/windows
	url = https://github.com/StefanScherer/packer-windows
	branch = main
